@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


.MainCinco{
    padding-top: 100px;
    padding-bottom: 100px;
}

.reseñas{
    color: #8873f0;
}

.h1-main5{
    font-size: 70px;
}

.hrmain5{
    width: 30px;
    height: 2px;
    border: 0;
    border-radius: 2px;
    background-color: black;
    position: relative;
    top: 10px;
    right: 35px;
}

.texto-div2{
    width: 400px;
    color: #666666;
}

.botones-texto-container{
    position: relative;
    left: 80px;
    top: 120px;
}

.botonestexto1{
    font-size: 45px;
    color: #666666;
    padding: 15px;
    cursor: pointer;
}

.botonestexto{
    font-size: 45px;
    color: black;
}

.container-primerdiv{
    display: flex;
    justify-content: space-evenly;
}

 .div-2-main5{
    display: flex;
    justify-content: baseline;
    position: relative;
    right: 250px;
    top: 10px;
} 

.div-tres{
   display: flex;
   padding-top: 30px;
   
}

.hr-divtres-main5{
    width: 600px;
    height: 2px;
    border: 0;
    border-radius: 2px;
    background-color: black;
}



.p-div3-main5{
    width: 550px;
    padding: 40px;
    font-size: 25px;
}

.logomain5{
    color: black;
    font-size: 150px;
    position: relative;
    top: 30px;
    left: 60px;
}

.logo1-div3{
    width: 250px;
    height: 250px;
    background-color: #b9f2fe;
    border-radius: 50%;
}

.logo2-div3{
    width: 250px;
    height: 250px;
    background-color: #8873f0;
    border-radius: 50%;
}

.h5-h6-main5{
    position: relative;
    left: 38px;
    bottom: 15px;
    padding-bottom: 25px;
}

.h5-main5{
    font-size: 20px;
}

.h6-main5{
    font-size: 15px;
    color: #666666;
}

@media only screen and (max-width: 600px) {
    .MainCinco{
       padding-bottom: 300px;
    }

    .container-primerdiv{
        position: relative;
        top: 200px;
        left: 450px;
    }

    .titulo-main5{
        position: relative;
        bottom: 250px;
    }

    .div-2-main5{
        position: relative;
        right: 300px;
    }
    
    .hr-texto-main5{
        position: relative;
        top: 200px;
        left: 50px;
    }

    .botones-texto-container{
        opacity: 0;
    }

    .logo1-div3, .logo2-div3{
        opacity: 0;
    }
}